.container {
    display: flex;
    justify-content: center;
    background: #fff2d6;
}

.info {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: min-content;
    flex-direction: column;
    background: #fcbcb4;
    border-radius: 3%;
    text-shadow: 2px 1px 2px white;
    padding: 2vh;
}

.infop {
    font-size: 1.3em;
}

img {
    width: 40%;
    box-shadow: 3px 3px 3px 3px black;
}



.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    background-color: #fc827a;
    margin: 2vh;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}