.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2vh;
    background: #fff4d4;
    flex-wrap: wrap;
}

.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #fc827a;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #941f29;;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
.input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #fc827a;
}

.input::placeholder {
    color: #777;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.button {
    --color: #fc827a;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .9em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: .89em;
    border: 1px solid ;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;

}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: #941f29;
}

.button:active {
    filter: brightness(.8);
}
.form {
    display: flex;
    justify-content: space-between;
    width: 25vw;
    flex-wrap: wrap;
    color: #941f29;
}

.select {
    padding: 1.5vh;
    width: 10.2vw;
    border: none;
    background-color: #fc827a;
    color: #941f29;
    border-radius: 1.2vh;
    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
}

.select::-ms-expand {
    display: none;
    color: #941f29;
}
label{
    color: #941f29;
}